<head>
    <link rel="stylesheet" href="~/css/calculator.css" asp-append-version="true" />
</head>

<h1>Calculator</h1>

<div class="result-container">
    <input type="text" id="user-input" value="" readonly>
    <p id="result">0</p>
</div>


<div class="calculator-container">

    
    <div class="numberbtn-container">

        <button>C</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>0</button>
        <button>.</button>

    </div>

    <div class="operatorbtn-container">
        <button>+</button>
        <button>-</button>
        <button>*</button>
        <button>/</button>
        <button>=</button>
    </div>
</div>


<script src="~/js/calculator.js" asp-append-version="true"></script>








